.form {
width: 282px;
height: 375px;
background-color: white;
margin: auto;
border-radius: 10px;
display: flex;
flex-direction: column;
align-items: center;
box-shadow: 0px 0px 25px 0px #00000026;
}


.form__title{
margin-top: 25px;
width: 238px;
height: 22px;
font-family: Inter;
font-size: 18px;
font-weight: 900;
line-height: 21.78px;
text-align: left;
color: #000000;
margin-bottom: 76px;
}

.form__input {
width: 238px;
height: 26px;
border-bottom: 1px solid #000000;
background-color: white;
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
text-align: left;
margin-bottom: 20px;
margin-left: 20px;
}

.form__input:invalid {
  border-bottom: 1px solid black;
}

.form__input:focus:invalid {
  border-bottom: 1px solid red;
  outline: 0;
}


.form__input-name {
  width: 238px;
  height: 26px;
  border: 0;
  background-color: white;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  margin-bottom: 20px;
  margin-left: 20px;
  margin: auto;
  border-bottom: 1px solid #060606;
}

.form__input-description {
width: 238px;
height: 26px;
background-color: white;
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
text-align: left;
margin-bottom: 20px;
margin-left: 20px;
margin: auto;
border: none;
border-bottom: 1px solid #060606;
}

.form__button {
width: 238px;
height: 46px;
border-radius: 2px 0px;
border: 1px solid;
background: black;
color: #C4C4C4;
opacity: 0,6;
margin: 30px 0px 0px 20px;
margin: auto;
cursor: pointer;
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
text-align: center;
}

.form__button:hover {
  border: 2px solid #FFFFFF;
  opacity: 0,6;
}

.form__button_disabled {
  opacity: 0.5;
  cursor: normal;
}

.form__input-type-error {
  border-bottom-color: red;
}

.form__error {
  font-size: 14px;
  color:red;
  margin-top: 16px;
  display: none;
}

.form__error_visible {
display: block;
margin: 0;
margin-left: 17px;
}

.form__title-avatar{
font-size: 24px;
line-height: 100%;
opacity: 1;
}

.form__avatar {
height: 250px;
}

.form__input-avatar {
margin: 0;
margin-bottom: 30px;
}

.form__delete-confirm {
height: 181px;
border-radius: 10px;
}

.form__title-delete-confirm {
  margin: auto;
}

@media screen and (min-width: 700px) {
  .form {
    background-color: white;
    margin: auto;
    width: 430px;
    height: 370px;
    }

    .form__title{
    margin-top: 34px;
    width: 330px;
    height: 23px;
    margin-bottom: 76px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    text-align: left;

    }

    .form__input {
    width: 358px;
    height: 28px;
    border-bottom: 1px solid #000000;
    }


    .form__input-name {
      width: 358px;
      margin: auto;
      margin-bottom: 15px;
      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 16.94px;

    }

    .form__input-description {
    width: 358px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin: auto;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    border: none;
    border-bottom: 1px solid #060606;


    }

    .form__button {
    width: 358px;
    text-align: center;
    margin: 25px 36px 20px 36px;
    border: 1px solid #C4C4C4;
    }

    .form__error_visible {
      margin-left: 30px;
      }

      .form__title-avatar{
      font-size: 24px;
      line-height: 100%;
      opacity: 1;
      margin-right: 30px;
      }

      .form__avatar {
      height: 260px;
      }

      .form__input-avatar {
      margin: 0;
      margin-bottom: 30px;
      }

      .form__button-avatar {
      margin: 0;
      }

      .form__delete-confirm {
      width: 430px;
      height: 181px;
      border-radius: 10px;
      }

      .form__title-delete-confirm {
      margin: auto;
      }
      }
