.popup {
top: 0;
position: fixed;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.805);
z-index: 999;
justify-content: center;
align-items: center;
}

.popup_opened {
  display: flex;
}


.popup__container {
max-width: 600px;
margin: 30px;
position: relative;
}

.popup__container-profile {
  top: 200px;
  right: 30px;
}

.popup__container-places{
  position: relative;
  /*top: 200px;*/
  right: 30px;

}

.popup__container-avatar{
  top: 200px;
  right: 30px;
}

.popup__container-delete-confirm {
  top: 200px;
  right: 30px;
}

.popup__close-button {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 5px;
  bottom: 370px;
  }

.popup__full-size-image {
  max-width: 80%;
  max-height: 80%;
  border-radius: 8px;
}


.popup__title-view-image {
  color: white;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 20px;
}

.popup__avatar {
cursor: pointer;
}

.popup__close-delete-confirm {
  display: block;
}

.popup__close-delete-confirm {
  position: absolute;
  right: 15px;
  bottom: 180px;
}

.popup__close-avatar {
  display: block;
  position: absolute;
  right: 15px;
  bottom: 250px;
}

@media screen and (min-width: 700px) {

.popup__container-profile {
position: relative;
left: 100px;
}
.popup__container-places{
position: relative;

}

.popup__container-avatar{
position: relative;
left: 100px;
}

.popup__container-delete-confirm {
position: relative;
left: 100px;
}
}

@media screen and (min-width: 1100px) {

.popup__container-profile {

position: relative;
left: 300px;
margin-right: 300px;
}

.popup__container-places{
position: relative;
margin-right: 300px;
}

.popup__container-avatar{
position: relative;
left: 300px;
margin-right: 300px;
}

.popup__container-delete-confirm {
position: relative;
left: 300px;
margin-right: 300px;
}
}